/* src/styles/navbar.css */
.navbar {
    
    padding: 10px 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: 700;
  }
  
  .navbar-logo-link {
    color: #fcfcfc; /* Bright Blue */
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  
  
  .navbar-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0 20px;
  }
  
  .navbar-link {
    color: #e2e8f0; /* Bright Blue */
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #a7e0a4; /* Muted Green */
  }
  
  .navbar-button {
    background-color: #0050B6; /* Bright Blue */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-button:hover {
    background-color: #72AE6F; /* Muted Green */
  }
  
  .navbar-button:focus {
    outline: none;
  }
  
  .navbar-item:last-child {
    margin-right: 0;
  }
  
  .navbar-button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    background-color: #0050B6;
    color: white;
    text-decoration: none;
  }
  
  .navbar-button:hover {
    background-color: #72AE6F; /* Muted Green */
  }
  